.column-info {
  padding: 1rem;
  background-color: #33b5e5;
  /* border: 2px solid #fff; */
  color: #fff;
  /* color: black; */
  text-align: center;
}
.senpai {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 8rem;
}

.traphouse {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 8rem;
  color: white;
}

@media (max-width: 750px) {
  .traphouse {
    padding-top: 15%;
    font-size: 4rem;
  }
  .japanese {
    /* font-size: 0.1rem; */
  }
}
.japanese {
  font-size: 2rem;
}
.w-100 {
  /* display: flex; */
  /* width: 100vh; */

  /* position: absolute; */
}
/* width: 100vw; */
/* }
/* */
/* @media (max-width: 900px) {
  .senpai {
    border: 10px solid red;
  }
  .stupid-video {
    /* display: none;
    color: white; */
/* }
}  */
/* @media (max-width: 750px) {
  .w-100 {
    min-width: 100vh;
  }
} */
@media (max-width: 750px) {
  .landing-page-content {
    min-width: 100vh;
    /* min-width: 100vh; */
  }
  .stupid-video {
    display: flex;
    flex-direction: column;
  }
}

.text-center {
  padding-top: 5%;
  font-family: "Shadows Into Light", cursive;
}
@media (max-width: 750px) {
  .text-center {
    /* padding-top:%; */
    font-size: 1.5rem;
  }
}
.shadow {
  font-family: "Shadows Into Light", cursive;
  /* padding-top: 2.5%; */
  font-size: 2rem;
}
.landing-card-title {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 2rem;
}
.landing-card-text {
  font-family: "Shadows Into Light", cursive;
  font-size: 3rem;
  /* font-size: 20px; */
}
.landing-card-text-body {
  font-size: 1.2rem;
}
.p-2 {
  font-family: "Shadows Into Light", cursive;
  color: white;
  font-size: 1.4rem;
}
