/* .schoolRecs {
  display: flex;
  align-items: column;
} */
.senpais-articles {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 3rem;
  color: #ffffff;
  padding-bottom: 3%;
}
.schoolRecs {
  font-family: "Shadows Into Light", cursive;
  color: #ffffff;
  font-size: 2.9rem;
}
.reasons {
  font-family: "Shadows Into Light", cursive;
  color: #ffffff;
  font-size: 2.9rem;
}
.strangerThings {
  font-family: "Shadows Into Light", cursive;
  color: #ffffff;
  font-size: 2.9rem;
}

.jumbotron-header {
  font-family: "Shadows Into Light", cursive;
  padding: 0;
  background: "#73bf32";
}
.read-me {
  color: black;
}
